-e .
azureml-core
azureml-dataset-runtime
hydra-core
kornia
matplotlib
numpy
python-dotenv
pytest
joblib
torch==1.9.0
pytorch-lightning
torch-enhance
torchmetrics
torchvision
wandb
hydra-optuna-sweeper